@import url('./base.css');

body {
  color: var(--color-text);
  background: var(--color-background);
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizelegibility;

  --nav-z-index: 999999;
  --nav-height: 5.6875rem;
}

#app {
  position: relative;
  overflow: clip;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0;
  font-size: 2rem;
}

h3 {
  margin: 0;
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.6;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--color-text);
  text-decoration: none;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  &:hover {
    color: var(--color-text);
    text-decoration: none;
  }

  &:not(.noHover) {
    &:not(.noPadding) {
      padding: 1px 4px;
    }

    &:not(.noMargin) {
      margin: -1px -4px;
    }

    &[href] {
      &:not(.noUnderline) {
        text-decoration: underline var(--color-border) solid 2px;
      }

      /*
       * Left-to-right triple-layered highlight transition.
       *
       * We set up a 200%-width two-window background, half colored and half
       * empty, pushed against the right edge so the empty window is shown by
       * default.
       *
       * Upon hover, we move this background to be pushed against the left edge,
       * showing the colored window and creating the illusion of colors sliding in
       * from left to right.
       */
      background-image: linear-gradient(
          to right,
          color-mix(in srgb, var(--color-accent-1) 40%, var(--color-background))
            0%,
          color-mix(in srgb, var(--color-accent-1) 40%, var(--color-background))
            50%,
          transparent 50%,
          transparent 100%
        ),
        linear-gradient(
          to right,
          color-mix(in srgb, var(--color-accent-2) 40%, var(--color-background))
            0%,
          color-mix(in srgb, var(--color-accent-2) 40%, var(--color-background))
            50%,
          transparent 50%,
          transparent 100%
        ),
        linear-gradient(
          to right,
          color-mix(in srgb, var(--color-accent-3) 40%, var(--color-background))
            0%,
          color-mix(in srgb, var(--color-accent-3) 40%, var(--color-background))
            50%,
          transparent 50%,
          transparent 100%
        );

      /*
       * Extra 2% width to make sure background doesn't bleed out of the
       * element.
       */
      background-size: 202% calc(100% / 3);
      background-position:
        right 0%,
        right 50%,
        right 100%;
      background-repeat: no-repeat;
      transition:
        background-position var(--underline-transition-speed),
        text-decoration var(--underline-transition-speed);
    }

    &[href]:hover {
      &:not(.noUnderline) {
        text-decoration-color: transparent;
      }

      background-position:
        left 0%,
        left 50%,
        left 100%;
    }
  }
}
